[Unit]
Description=portash authd (TOTP checks, audit log, session recordings)
Before=ssh.service

[Service]
ExecStart=/usr/local/bin/portash authd --socket /run/portash/authd.sock --totp-dir /var/lib/portash-authd/totp --log-dir /var/log/portash
Restart=always
RuntimeDirectory=portash
RuntimeDirectoryMode=0755
StateDirectory=portash-authd
StateDirectoryMode=0700
LogsDirectory=portash
LogsDirectoryMode=0700
NoNewPrivileges=yes
ProtectSystem=strict
ReadWritePaths=/var/lib/portash-authd /var/log/portash /run/portash
ProtectHome=yes
PrivateTmp=yes
PrivateNetwork=yes
RestrictAddressFamilies=AF_UNIX
CapabilityBoundingSet=
SystemCallFilter=@system-service
LockPersonality=yes
RestrictNamespaces=yes
RestrictSUIDSGID=yes
RestrictRealtime=yes
SystemCallArchitectures=native
MemoryDenyWriteExecute=yes
UMask=0077
MemoryMax=256M
TasksMax=512

[Install]
WantedBy=multi-user.target
