[Unit]
Description=portash authd (TOTP checks, audit log, session recordings)
Before=ssh.service

[Service]
ExecStart=/usr/local/bin/portash authd --socket /run/portash/authd.sock --totp-dir /var/lib/portash/totp --log-dir /var/log/portash
Restart=always
RuntimeDirectory=portash
RuntimeDirectoryMode=0755
StateDirectory=portash
LogsDirectory=portash
LogsDirectoryMode=0700
NoNewPrivileges=yes
ProtectSystem=strict
ReadWritePaths=/var/lib/portash /var/log/portash /run/portash
ProtectHome=yes
PrivateTmp=yes
PrivateNetwork=yes
RestrictAddressFamilies=AF_UNIX
CapabilityBoundingSet=
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target
